<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE project>
<Configuration status="DEBUG">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT" follow="true">
            <PatternLayout disableAnsi="false" pattern=" %highlight{%d{HH:mm:ss.SSS} [%t] ${LOG_LEVEL_PATTERN:-%5p} %logger{36} - %msg%n{FATAL=red blink, ERROR=red, WARN=yellow bold, INFO=green, DEBUG=magenta bold, TRACE=blue}}"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="DEBUG">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>